body {
    background-color: #EAF6F6;
    }

    hr {
    border-color: #bee7e7;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 16%;
    }

    h1 {
        color: #66b1b1;
    }

    h3 {
        color: #66b1b1;
    }